.message {
  display: grid;
  grid-template-columns: 15% 35% 35% 5% 5%;
  justify-content: center
}

.message span:nth-child(1) {
  margin-right: 1rem;
}

.message span:nth-child(2) {
  font-weight: bold;
}