.navbarNB {
  background-color: var(--lightGrey);
}
@media (min-width: 768px) {
  .navbarNB {
    background-color: var(--black);
  }

  .navbarNB ul {
    color: var(--white);
  }

  .teams {
    margin-bottom: 5rem;
  }
}
